.colors {
  /* $green .bg-success*/
  color: rgb(240, 138, 59);
  color: #f08a3b;
  color: rgba(246, 113, 78, 0.9);
  color: #f6714e;
  color: rgb(237, 108, 73);
  color: #ed6c49;
  color: rgb(230, 79, 82);
  color: #e64f52;
  color: rgb(214, 53, 90);
  color: #d6355a;
  color: rgb(180, 41, 102);
  color: #b42966;
  color: rgba(250, 175, 50, 0.9);
  color: #faaf32;
  color: rgba(250, 220, 127, 0.9);
  color: #fadc7f;



  /* NEW COLORS */
  color: rgb(224,0,16);/*E00010*/
  color: rgb(235,95,17);/*Eb5f11*/
  color: rgb(252,102,0);
  color: rgb(255,158,0);
  color: rgb(242,209,24);
  color: rgb(247,204,78);




}
