$bright_red: rgb(224, 0, 16);
$transparent_red: rgba(224, 0, 16, 0.5);
$light_gray: rgb(240,240,240);
$transparent_light_gray: rgba(240,240,240, 0.5);
$dark_bgrd: rgb(43, 42, 41);
$dark_fgrd: rgb(85, 85, 85);

.TopBanner {
    color: $bright_red;
}

.pss_plFooter, .pssTD, .pssH1 {
    color: $bright_red;
}
.pss_plFooter:hover {
    background-color: $transparent_red;
    color: white;
}

.sbdeTD {
    color: $bright_red;
}

.ng_box {
    color: $bright_red;

    .partition_title {
        color: $bright_red;
    }
}

.ng_input {
    color: $bright_red;
    border-bottom-color: $bright_red;
}

.ng_label {
    color: $bright_red;
}

.np_box {
    color: $bright_red;
}

.np_github-btn {
    border-color: $bright_red;
    background-color: $bright_red;
    color: white;
}

.np_github-btn:hover {
    background-color: $transparent_red;
}

.gl_title {
    border-bottom-color: $bright_red;
    background-color: $dark_fgrd;
}

.glFooter {
    color: $light_gray;
    border-top-color: $bright_red;
}

.glFooter:hover {
    background-color: $transparent_red;
}

.glTD {
    color: $light_gray;
    background-color: $dark_fgrd;
}

.glTR:hover .glTD {
    background-color: $transparent_red;
}

.gl_table {
    border-color: $bright_red;
}

.glH1 {
    color: $light_gray;
    
}

.GamesList, .PlayersList {
    border-color: $bright_red;
    background-color: $dark_fgrd;
}

.plTitle {
    border-bottom-color: $bright_red;
    background-color: $dark_fgrd;
}

.plFooter {
    border-top-color: $bright_red;
    color: $light_gray;
}

.plFooter:hover {
    background-color: $transparent_red;
}

.pl_table {
    border-color: $bright_red;
}

.plTR:hover td{
    background-color: $transparent_red;
}

.plTD {
    color: $light_gray;
    background-color: $dark_fgrd;
}

.plH1 {
    color: $light_gray;
}

.sidenav {
    background: $bright_red;
}

#mySidenav {
    background: $dark_bgrd;
    border-right: solid 3px $bright_red;
}

.AboutPage {
    color: $bright_red;
}

.myBottomNav {
    background: white;
    color: $bright_red;
    border-top-color: $bright_red;
    
}

.AnalysisPage, .ap_link {
    color: $bright_red;
}

.ap_link:hover {
    color: $transparent_red;
}

.analysis_button, .login_button, .main_button, .ps_button, .ts_button, .psb_button, .ng_button {
    color: $light_gray;
    background-color: $dark_fgrd;
    border-color: $bright_red;
}

.analysis_button:hover, .login_button:hover, .main_button:hover, .ps_button:hover, .ts_button:hover, .psb_button:hover, .ng_button:hover {
    background-color: $transparent_red;
}

.FLP_H1, .loginH1, .loginPtag{
    color: $bright_red;
}

::placeholder, :-ms-input-placeholder, ::-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $transparent_light_gray;
    opacity: 1; /* Firefox */
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px $dark_fgrd inset; /* Change the color to your own background color */
    -webkit-text-fill-color: $light_gray;
    border-radius: 5px;
    border-color: $bright_red !important;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px $dark_fgrd inset;
    -webkit-text-fill-color: $light_gray;
    border-radius: 5px;
    border-color: $bright_red !important;
}

.login_input {
    color: $light_gray;
    border-color: $bright_red !important;
    background: $dark_fgrd;
    border-radius: 5px;
}

.mainH1 {
    color: $light_gray;
    text-shadow: 2px 2px $bright_red;
}
#app {
    background-color: $dark_bgrd;
}

.sn_title{
    border-bottom-color: $bright_red;
    background-color: $dark_fgrd;
}
.sn_tr:hover td {
    background-color: $transparent_red;
}

.dataTable {
    background-color: $dark_fgrd;
}

.phH1 {
    color: $bright_red;
}

.ps_input {
    color: $bright_red;
}

.psH1 {
    color: $bright_red;
}

.psLabel {
    color: $bright_red;
}

.numberBox {
    color: $bright_red;
    border-bottom-color: $bright_red;
}

.nameBox1 {
    border-bottom-color: $bright_red;
}

.psb_td {
    color: $bright_red;
}

.clockPause {
    color: white;
    background-color: $bright_red;
    border-color: $bright_red;
}

.clockPause:hover {
    background-color: $transparent_red;
}

#playerSelectionBox {
    border-color: $bright_red;
}

.ss_selectedButton {
    background: $bright_red;
    color: white;
}

.sportButton {
    color: $bright_red;
    background-color: white;
    border-color: $bright_red;
}

.selectSportDialog {
    border-color: $bright_red;
}

.wizardP {
    color: $bright_red;
}
.wizard__step__indicator {
    background-color: $bright_red;
    border-color: $bright_red;
}
.wizard__step.active .wizard__step__indicator {
    background-color: white;
}
.wizard__step.active:not(:first-child) .wizard__step__line {
    background-color: $bright_red;
}
// .wizard__step__label {

// }

#toggleViewDiv {
    border-color: $bright_red;
}

#entryMode {
    background-color: $dark_fgrd;
    color: $light_gray;
}

#entryMode:hover {
    background-color: $transparent_red;
}

#chartMode {
    background-color: $dark_fgrd;
    color: $light_gray;
    border-color: $bright_red;
}

#chartMode:hover {
    background-color: $transparent_red;
}

#statMode {
    background-color: $dark_fgrd;
    color: $light_gray;
}

#statMode:hover {
    background-color: $transparent_red;
}

.modal-body {
    background-color: $light_gray;
}

.ng_hidden {
    color: $light_gray;
}

.snH6, .snH4 {
    color: $light_gray;
}

.snTD {
    color: $light_gray;
}

.SBdataEntry {
    border-color: $bright_red;
}

.sn_tr:hover td {
    background: $transparent_red;
}

.sn_footer {
    border-color: $bright_red;
    background: $dark_fgrd;
}

.sn_footer:hover {
    background: $transparent_red;
}

.about_p {
    background: $dark_fgrd;
    color: $light_gray;
    border-color: $bright_red;
}

.about_header{
    color: $light_gray;
    text-shadow: 2px 2px $bright_red;
}