$bright_red: rgb(224, 0, 16);
$transparent_red: rgba(224, 0, 16, 0.5);
$light_gray: rgb(240,240,240);
$transparent_light_gray: rgba(240,240,240, 0.5);
$dark_bgrd: rgb(43, 42, 41);
$dark_fgrd: rgb(85, 85, 85);

.TopBanner, .sbdeTD, .ng_box, .ng_box .partition_title, .ng_label, .np_box, 
.AboutPage, .AnalysisPage, .ap_link, .FLP_H1, .loginH1, .loginPtag, .phH1, 
.ps_input, .psH1, .psLabel, .psb_td {
    color: $bright_red;
}

.pssH1, .glH1, .plH1, .snH6, .snH4, .ng_hidden, .snTD, .GV_NAME, .sbdeH, .mt_label {
    color: $light_gray;
}

.playersTable, .gl_table, .pl_table, .sbde_table, .sbde_th, .selectSportDialog, 
#playerSelectionBox, #toggleViewDiv, #SBdataEntry {
    border-color: $bright_red;
}

.SBdataEntry {
    border-color: $bright_red;
    color: $light_gray;
}

.analysis_button, .login_button, .main_button, .ps_button, .ts_button, .psb_button, .ng_button {
    color: $light_gray;
    background-color: $dark_fgrd;
    border-color: $bright_red;
}

.pss_plFooter:hover, .np_github-btn:hover, .glFooter:hover, .glTR:hover .glTD,
.plTR:hover td, .plFooter:hover, .analysis_button:hover, .login_button:hover, 
.main_button:hover, .ps_button:hover, .ts_button:hover, .psb_button:hover, .ng_button:hover,
.sn_tr:hover td, .clockPause:hover, #statMode:hover, .sn_tr:hover td, .sn_footer:hover, 
#chartMode:hover, #entryMode:hover {
    background-color: $transparent_red;
}

.pss_plFooter{
    color: $light_gray;
    border-color: $bright_red;
}

.pss_plFooter_selected{
    color: $light_gray;
    background-color: $transparent_red;
    border-color: $bright_red;
}
.pssTD{
    color: $light_gray;
    border-bottom-color: $bright_red;
}
.pssTD_selected{
    color: $light_gray;
    background-color: $transparent_red;
    border-bottom-color: $bright_red;
}

.PlayerStatSelector{
    border-color: $bright_red;
    background-color: $dark_fgrd;
}

.ng_input {
    color: $bright_red;
    border-bottom-color: $bright_red;
}

.np_github-btn {
    border-color: $bright_red;
    background-color: $bright_red;
    color: $light_gray;
}

.gl_title {
    border-bottom-color: $bright_red;
    background-color: $dark_fgrd;
}

.glFooter {
    color: $light_gray;
    border-top-color: $bright_red;
}

.glTD {
    color: $light_gray;
    background-color: $dark_fgrd;
}

.GamesList, .PlayersList {
    border-color: $bright_red;
    background-color: $dark_fgrd;
}

.plTitle {
    border-bottom-color: $bright_red;
    background-color: $dark_fgrd;
    color: $light_gray;
}

.plFooter {
    border-top-color: $bright_red;
    color: $light_gray;
}

.plTD {
    color: $light_gray;
    background-color: $dark_fgrd;
}

.sidenav {
    background: $dark_bgrd;
}

#mySidenav {
    background: $dark_bgrd;
    border-right: solid 3px $bright_red;
}

.myBottomNav {
    background: $light_gray;
    color: $bright_red;
    border-top-color: $bright_red;
    
}


.ap_link:hover {
    color: $transparent_red;
}

::placeholder, :-ms-input-placeholder, ::-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $transparent_light_gray;
    opacity: 1; /* Firefox */
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px $dark_fgrd inset; /* Change the color to your own background color */
    -webkit-text-fill-color: $light_gray;
    border-radius: 5px;
    border-color: $bright_red !important;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px $dark_fgrd inset;
    -webkit-text-fill-color: $light_gray;
    border-radius: 5px;
    border-color: $bright_red !important;
}

.login_input {
    color: $light_gray;
    border-color: $bright_red !important;
    background: $dark_fgrd;
    border-radius: 5px;
}

.mainH1 {
    color: $light_gray;
    text-shadow: 2px 2px $bright_red;
}
#app {
    background-color: $dark_bgrd;
}

.sn_title{
    border-bottom-color: $bright_red;
    background-color: $dark_fgrd;
}

.dataTable {
    background-color: $dark_fgrd;
}

.numberBox {
    color: $bright_red;
    border-bottom-color: $bright_red;
}

.nameBox1 {
    border-bottom-color: $bright_red;
}

.clockPause {
    color: $light_gray;
    background-color: $bright_red;
    border-color: $bright_red;
}

.ss_selectedButton {
    background: $bright_red;
    color: $light_gray;
}

.sportButton {
    color: $bright_red;
    background-color: $light_gray;
    border-color: $bright_red;
}

.wizardP {
    color: $bright_red;
}
.wizard__step__indicator {
    background-color: $bright_red;
    border-color: $bright_red;
}
.wizard__step.active .wizard__step__indicator {
    background-color: $light_gray;
}
.wizard__step.active:not(:first-child) .wizard__step__line {
    background-color: $bright_red;
}

#entryMode {
    background-color: $dark_fgrd;
    color: $light_gray;
}

#chartMode {
    background-color: $dark_fgrd;
    color: $light_gray;
    border-color: $bright_red;
}

#statMode {
    background-color: $dark_fgrd;
    color: $light_gray;
}

.modal-body {
    background-color: $light_gray;
}

.sn_footer {
    border-color: $bright_red;
    background: $dark_fgrd;
}


.about_p {
    background: $dark_fgrd;
    color: $light_gray;
    border-color: $bright_red;
}

.about_header{
    color: $light_gray;
}

  #sbde1 {
      border-color: $bright_red;
      background: $dark_fgrd;
  }

  #sbde_title, .sbdeTD {
      border-bottom-color: $bright_red;
      color: $light_gray;
  }