$bright_red: rgb(224, 0, 16);
$transparent_red: rgba(224, 0, 16, 0.5);
$light_gray: rgb(240,240,240);
$transparent_light_gray: rgba(240,240,240, 0.5);
$dark_bgrd: rgb(43, 42, 41);
$dark_fgrd: rgb(85, 85, 85);

.currPage {
    background-color: $bright_red;
    color: $light_gray;
    border-color: $bright_red;

}

.footballPosDiv, .footballStatDiv {
    color: $light_gray;
}


.vcard_header {
    font-weight: 700;
}

.footballNotCurr, .footballButton {
    color: $light_gray;
    background-color: $dark_fgrd;
    border-color: $bright_red;
}

.footballNotCurr:hover, .footballButton:hover {
    background-color: $transparent_red;
}